.container {
  display: flex;
  flex-direction: column;
  max-width: 992px;
  height: 100vh;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.container section {
  flex: 1;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.25rem;
}
